body {
    margin: 0;
    min-width: 1200px;
    background-color:#333333;
  }

  li:not(:last-child) {
    margin-bottom: 10px;
}

p {
  text-align: justify;
  text-indent: 30px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color:#000000;
  line-height: 1.5;
  font-size: 17px;
  margin: 20px;
}

h1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color:#171f3f;
  font-size: 36px;
}

ul {
  color: #000000;
}

  
  .topbanner {
    position: relative;
    background-color: #171f3f;
    overflow: hidden;
    color: #F8F8F8;
    width:100%;
  }
  
  .homebutton {
    position: absolute;
    left: 50%;
    background-color: #171f3f;
    color:#F8F8F8;
    margin: 0;
    display: flex;
    margin: 0;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .homebutton a {
    display: block;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: #171f3f;
    cursor: pointer;
    color:#F8F8F8;
    font-size: 30px;
    text-decoration: none;
  }

  .aboutandcontact {
    float: right;
    background-color: #E0E0E0;
    color: #171f3f;
    border: 0px;
    border-radius: 10px;
    margin: 10px 10px 10px 0px;
    padding: 10px;
  }

  .aboutandcontact a {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: #E0E0E0;
    color:#171f3f;
    font-size: 20px;
    text-decoration: none;
  }

  .aboutandcontact a:hover {
    font-weight: bold;
    cursor: pointer;
  }
  
  .mainbar {
    overflow: hidden;
    background-color: #F8F8F8;
  }
  
  .mainbar a {
    display: block;
    float: left;
    width: 25%;
    color: #171f3f;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    padding: 14px 0px;
    border-style: solid none solid none;
    border-width: 1px;
    border-top-color: #171f3f;
    border-bottom-color: #333333;
  }
  
  .mainbar a:hover {
    font-weight: bold;
    cursor: pointer;
  }
  
  .mainbar a.active {
    color: #171f3f;
    background-color: #E0E0E0;
    font-weight: bold;
    border-color: #E0E0E0;
  }
  
  /* Style the tab */
  .tab {
    overflow: hidden;
    background-color: #333333;
    width: 25%;
    float: left;
    padding-top: 25px;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: #E0E0E0;
    border: none;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    text-align: left;
    width: 100%;
    min-width: 315px;
    border-radius: 15px 0px 0px 15px;
    margin-bottom: 5px;
    margin-left: 10px;
    color: #171f3f;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    font-weight: bold;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    font-weight: bold;
    background-color:#F8F8F8;
  }
  
  /* Style the tab content */
  .tabcontent {
    background-color: #333333;
    display: none;
    border:none;
    border-top: none;
    float: right;
    width: 75%;
    min-width: 900px;
    padding: none;
  }
  
  .reading {
    background-color: #F8F8F8;
    margin-top: 10px;
    padding: 20px 30px;
    border-radius: 15px;
    margin-right:10px;
    margin-bottom:10px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color:#171f3f;
    line-height: 1.5;
    font-size: 17px;
  }

  .imagecontainer {
    text-align: center;
  }

  .oneimage {
    max-height: 500px;
    max-width: 750px;
    border-style: solid;
    border-width: 10px;
    border-color:#333333;
    border-radius: 10px;
  }

  .twoimage {
    max-height: 500px;
    max-width: 400px;
    border-style: solid;
    border-width: 10px;
    border-color:#333333;
    border-radius: 10px;
    margin-left: -10px;
    margin-right: -10px;
  }

  .container {
    position: absolute;
    text-align: center;
    width: calc(100% - 20px);
    background-color: #F8F8F8;
    margin: 10px;
    border-radius: 10px;
    min-width: 1180px;
  }

  .textbox {
    position: absolute;
    background-color: #171f3f;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #F8F8F8;
    padding: 5px 30px;
    border-radius: 20px;
    width: 400px;
    border-color: #333333;
    border-width: 15px;
    border-style: solid;
  }

  .downloadlink {
    background-color: #E0E0E0;
    color: #171f3f;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #333333;
  }

  .onevid {
    border-style: solid;
    border-width: 10px;
    border-color:#333333;
    border-radius: 10px;
  }

  .twovid {
    border-style: solid;
    border-width: 10px;
    border-color:#333333;
    border-radius: 10px;
    margin-left: -10px;
    margin-right: -10px;
  }